/* img#headerImage {
  content: url(/assets/bg-mobile-light.jpg);
}
.dark img#headerImage {
  content: url(/assets/bg-mobile-dark.jpg);
}
@media (min-width: 768px) {
  img#headerImage {
    content: url(/assets/bg-desktop-light.jpg);
  }
  .dark img#headerImage {
    content: url(/assets/bg-desktop-dark.jpg);
  }
} */
